/**
*
* {{ properCase name }}
*
*/

import * as React from 'react';

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
import messages from './messages';
{{/if}}
{{#if wantCSS}}
import * as styles from './styles.css';
{{/if}}

export interface {{ properCase name }}Props {
}

class {{ properCase name }} extends React.Component<{{ properCase name }}Props, any> { // eslint-disable-line react/prefer-stateless-function
  render() {
    return (
      {{#if wantCSS}}
      <div className={{curly true}}styles.{{ camelCase name }}{{curly}}>
      {{else}}
      <div>
      {{/if}}
      {{#if wantMessages}}
        <FormattedMessage {...messages.header} />
      {{/if}}
      </div>
    );
  }
}

export default {{ properCase name }};
